.container-main > div {
  margin-bottom: 0px; /* Adjust as needed */
}

#smooth-wrapper {
  overflow: hidden;
  position: relative;
}

#smooth-content {
  min-height: 100vh; /* Ensure content height is calculated correctly */
  padding-bottom: 0px; /* Add spacing at the bottom */
}

#work-section {
  margin-bottom: 250px; /* Add space after the Work section */
}

#contact-section {
  padding-top: 450px; /* Add space before the Contact section */
}

#work-section, #contact-section {
  position: relative;
  z-index: 1; /* Ensure both are at the same stacking context */
}
